<form class="form" novalidate [formGroup]="forms" (ngSubmit)="onSubmit()">
  <form-field class="form-field">
    <form-label>Full name:</form-label>
    <input formInput
           type="text"
           placeholder="Your full name"
           formControlName="name">
    <form-error>
      Full name error
    </form-error>
  </form-field>
  <form-field class="form-field">
    <form-label class="form__label">Type:</form-label>
    <select formInput
            formControlName="type">>
      <option>1</option>
      <option>2</option>
    </select>
    <form-error>
      Type error
    </form-error>
  </form-field>
  <!--  <div class="form-field">-->
  <!--    <label class="form__label">Full name:</label>-->
  <!--    <input class="form__input"-->
  <!--           type="text"-->
  <!--           placeholder="Your full name"-->
  <!--           formControlName="name">-->
  <!--    <div *ngIf="this.isNameInvalid">-->
  <!--      <p>INVALID!!!!</p>-->
  <!--    </div>-->
  <!--  </div>-->
  <div formGroupName="account" class="form-account">
    <div class="form-field">
      <label class="form__label">Email address:</label>
      <input class="form__input"
             type="email"
             placeholder="Your email address"
             formControlName="email">
    </div>
    <div class="form-field">
      <label class="form__label">Confirm address:</label>
      <input class="form__input"
             type="email"
             placeholder="Confirm your email address"
             formControlName="confirm">
    </div>
  </div>
  <button type="submit">Sign up</button>
</form>
