@import "src/styles";
@import "src/forms/form";

.form {
  display: block;
  margin: $small-dist;
}

.form-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-account > .form-field  + .form-field  {
  margin-left: $small-dist;
  margin-top: 0;
}
