@import "src/styles";

.form__input {
  display: block;
  width: 100%;
  min-height: $input-height;

  margin-top: 0;
  padding: $input-padding-y $input-padding-x;

  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $input-line-height-sm;

  color: $gray-700;
  background-color: $white;
  background-clip: padding-box;

  border: $border-width solid $gray-400;
  border-radius: $border-radius;

  @include box-shadow($input-box-shadow);
  transition: $input-transition;

  appearance: none;

  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    @include box-shadow($input-box-shadow, $input-focus-box-shadow);
  }
}

.form__input--sm {
  min-height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $font-size-sm;
  border-radius: $border-radius-sm;
}

.form__input--error{
  border-color: $input-focus-border-color-error;
  &:focus{
    border-color: $input-focus-border-color-error;
    @include box-shadow($input-box-shadow, $input-focus-box-shadow-error);
  }
}
