@import "src/styles";

.form{
  position: relative;

  &__label{
    margin-bottom: $form-label-margin-bottom;
    font-style: $form-label-font-style;
    font-weight: $form-label-font-weight;
    color: palegreen;
  }

  &__content{
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-family: $input-font-family;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: palegreen ;
    background-color: $white;
    //background-clip: padding-box;
    border: $border-width solid $gray-400;
    //appearance: none;

    &:focus{
      color: $input-focus-color;
      background-color: $input-focus-bg;
      border-color: $input-focus-border-color;
      outline: 0;
    }
  }
}
